.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    --#{$prefix}btn-bg: #{$body-bg};
  }
}