.fi {
  --#{$prefix-my}fi-size: 24px;
  --#{$prefix-my}fi-stroke: 2;

  width: var(--#{$prefix-my}fi-size);
  height: var(--#{$prefix-my}fi-size);
  stroke: currentColor;
  stroke-width: var(--#{$prefix-my}fi-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: stroke 0.3s ease-in-out;
}
.fi-12 {
  --#{$prefix-my}fi-size: 12px;
} 
.fi-16 {
  --#{$prefix-my}fi-size: 16px;
}
.fi-20 {
  --#{$prefix-my}fi-size: 20px;
}
.fi-24 {
  --#{$prefix-my}fi-size: 24px;
}
.fi-28 {
  --#{$prefix-my}fi-size: 28px;
}
.fi-32 {
  @include rfs(32px, --#{$prefix-my}fi-size);
}
.fi-36 {
  @include rfs(36px, --#{$prefix-my}fi-size);
}
.fi-40 {
  @include rfs(40px, --#{$prefix-my}fi-size);
}
.fi-48 {
  @include rfs(48px, --#{$prefix-my}fi-size);
}
.fi-60 {
  @include rfs(60px, --#{$prefix-my}fi-size);
}
.fi-84 {
  @include rfs(84px, --#{$prefix-my}fi-size);
}
.fi-128 {
  @include rfs(128px, --#{$prefix-my}fi-size);
}