/* Slider */
.slick-slider {

  position: relative;

  display: block;
  box-sizing: border-box;

  user-select: none;

  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {

  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;

  @include media-breakpoint-down(lg) {
    overflow: visible;
  }
}
.slick-list:focus {

  outline: none;
}
.slick-list.dragging {

  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {

  transform: translate3d(0, 0, 0);
}

.slick-track {

  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {

  display: table;

  content: '';
}
.slick-track:after {

  clear: both;
}
.slick-loading .slick-track {

  visibility: hidden;
}

.slick-slide {

  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {

  float: right;
}
.slick-slide img {

  display: block;
}
.slick-slide.slick-loading img {

  display: none;
}
.slick-slide.dragging img {

  pointer-events: none;
}
.slick-initialized .slick-slide {

  display: block;
}

.slick-initialized.row {
  .slick-slide {
    @include make-col-ready();
  }
}

.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {

  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden  {
  display: none;
}

.slider {
  .slick-track {
    display: flex;
    justify-content: center;
  }
}

.slider-visible {
  .slick-list {
    overflow: visible;
  }
}

.slider-stretched {

  .slick-track,
  .slick-list {
    height: 100%
  }

  .slick-track {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .slick-slide {
    height: auto;
    flex: 0 0 auto;
  }
}

.slider-box {
  .slick-slide {
    opacity: 0;
    transition: $transition-fade;
  }
  .slick-active,
  .slick-op {
    opacity: 1;
  }
}


.slider-dots {
  list-style: none;
  height: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 1.5rem;
}

.slider-dots-item {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $light;
  border: 2px solid $primary;
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    background: shade-color($border-color, 40%);
  }
}

.slick-active {
  .slider-dots-item {
    // background: var(--#{$prefix}primary);
    width: 14px;
    height: 14px;
  }
}

.slider-control {
  position: absolute;
  display: block;
  top: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 5;
  cursor: pointer;
  background: $white escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$body-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><polyline points='15 18 9 12 15 6'></polyline></svg>")) no-repeat left calc(50% - 2px) center / 2.5rem;
  transition: $transition-base;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;

  &:hover {
    background-color: rgba($white, .7);
  }
  
  &-prev {
    right: calc(100% + var(--bs-gutter-x) * .5);
  }

  &-next {
    left: calc(100% + var(--bs-gutter-x) * .5);
    transform: translateY(-50%) rotate(180deg);    
  }

  @include media-breakpoint-up(sm) {
    &-prev {
      right: calc(100% + var(--bs-gutter-x) * .5);
    }

    &-next {
      left: calc(100% + var(--bs-gutter-x) * .5);
    }
  }

}

.slick-dotted {
  .slider-control {
    transform: translateY(calc(-50% - 16px));

    &-next {
      transform: translateY(calc(-50% - 16px)) rotate(180deg);   
    }
  }
}